body{
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    /* background-position: center; */
    background-repeat: repeat;
    background-attachment: fixed;
    max-width: 100%!important;
    height: 100%!important;
}

/* CABECERA */
#enc1{
    height:204px;
}

#enc1 .redes1{
    padding-left: 190px;
    margin-right:-25px;
}
#enc1 .redes2{
    height: 50px;
    margin-right:-25px;

}
#enc1 .logoesesc{
    height:170px;
}

#enc1 .tituloesesc{
    max-width:85%;
    max-height:150px;
}
#enc1 .cabralesesc{
    height:230px;
    padding-left:3rem;
}
@media (min-width:0px) and (max-width:375px) {
    #enc1 .cabralesesc{
        height:190px;
        margin-right: -64.5%;
        padding-right:0px;
        max-height:100%;
    }
    #enc1 {
        height: 170px;
    }
    #enc1 .tituloesesc{
        max-width:auto;
        padding-right:30px;
        height: 100px;
    }
    #enc1 .display-991-none{
        display:none;
    }

}
@media (min-width:376px) and (max-width:500px) {
    #enc1 .cabralesesc{
        height:190px;
        margin-right: -70%;
        padding-right:0px;
        max-height:100%;
    }
    #enc1 {
        height: 170px;
    }
    #enc1 .tituloesesc{
        max-width:auto;
        text-align:left!important;
        padding-right:35px;
        max-height:190px;
        height: 120px;
    }
    #enc1 .display-991-none{
        display:none;
    }

}
@media (min-width:501px) and (max-width:600px) {
    #enc1 .cabralesesc{
        height:210px;
        margin-right: -70%;
        max-height:100%;
    }
    #enc1 .tituloesesc{
        max-width:89%;
        margin-left:0px;
        padding-right: 70px;
        max-height:220px;
    }
    #enc1 .display-991-none{
        display:none;
    }

}
@media (min-width:601px) and (max-width:704px) {
    #enc1 .cabralesesc{
        height:210px;
        margin-right: -75%;
        max-height:100%;
    }
    #enc1 .tituloesesc{
        max-width:85%;
        margin-left:0px;
        padding-right: 60px;
        max-height:220px;
    }
    #enc1 .display-991-none{
        display:none;
    }

}
@media (min-width:705px) and (max-width:936px) {
    #enc1 .cabralesesc{
        height:210px;
        margin-right: -80%;
        max-height:100%;
    }
    #enc1 .tituloesesc{
        max-width:89%;
        margin-left:0px;
        padding-right: 70px;
        max-height:220px;
    }
    #enc1 .display-991-none{
        display:none;
    }

}
@media (min-width:937px) and (max-width:991px) {

    #enc1 .cabralesesc{
        height:210px;
        margin-right: -80%;
        max-height:100%;
    }
    #enc1{
        height:194px;
    }
    #enc1 .tituloesesc{
        max-width:100%;
        padding-right:100px;
        max-height:190px;
    }
    #enc1 .display-991-none{
        display:none;
    }
}
@media (min-width:992px) and (max-width:1111px){
    #enc1 .redes1{
        padding-left: 126px;
    }
    #enc1 .logoesesc{
        height: 145px;
    }
}
@media (min-width:1112px) and (max-width:1139px){
    #enc1 .redes1{
        padding-left: 147px;
    }
    #enc1 .logoesesc{
        height: 155px;
    }
}
@media (min-width:1140px) and (max-width:1170px){
    #enc1 .redes1{
        padding-left: 155px;
    }
    #enc1 .logoesesc{
        height: 155px;
    }

}
@media (min-width:1171px) and (max-width:1200px){
    #enc1 .redes1{
        padding-left: 157px;
    }
    #enc1 .logoesesc{
        height:165px;
    }
}
@media (min-width:1201px) and (max-width:1269px){
    #enc1 .redes1{
        padding-left: 170px;
    }
    #enc1 .logoesesc{
        height:175px;
    }
}


/***************************aca van los CUERPOS********************************/
/* @font-face {
    font-family: "Futura Hv BT";
    src: url("../fonts/911Fonts.com_FuturaHeavyItalic__-_911fonts.com_fonts_xWY3.ttf");
} */
#cuerpo .fullancho{
    width:100%;
}
#cuerpo{    
    z-index: 4;
    /* max-width: 1100px;  */
    width: 100%;
    margin: 0 auto;
    /* margin-top:10px; */
    text-align: justify;
    padding:130px;
    padding-top:10px;
    padding-bottom:10px;
    color:#444444;

    
    /* background-color: rgba(8, 8, 8, 0.1); */
    background-color: #fcfcf7;
    
}

#cuerponoticia{    
    z-index: 4;
    max-width: 1100px; 
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding:220px;
    padding-top:10px;
    padding-bottom:10px;
    color:#444444;

    
    /* background-color: rgba(8, 8, 8, 0.1); */
    background-color: #fcfcf7;
    
}

#cuerpofull{    
    z-index: 4;
    /* max-width: 1100px;  */
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    padding:10px;
    padding-top:10px;
    padding-bottom:10px;
    color:#444444;

    
    /* background-color: rgba(8, 8, 8, 0.1); */
    background-color: #fcfcf7;
    
}

.titulo{
    font-family: Arial;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    display: inline-block;
    color:#333333;
    padding-left:5px;
    background-color:#fff15c;
    
}
#cuerpo .insc-abiertas{
    content:url("../img/insc_abiertas.jpg");
    max-width: 70%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
#cuerpo .vid-lat{
    content:url("../img/vid_latF.jpg");
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
#cuerpo .vid-lat:hover{
    content:url("../img/vid_latF_osc.jpg");
}
#cuerpo ol{
    padding:0;
}
#cuerpo ul.contacto {
    padding:0;
    display: inline-block;
    margin-right:5%;
    vertical-align: top;
    width: 40%;

}
#cuerpo ul.contacto li {
    list-style: none;
    text-align: center;
    margin-top:0;
}
#cuerpo ul.contacto li p{
    padding:0;
    margin-top:15px;
    margin-bottom:4px;
    list-style: none;
    text-align: center;
    /* font-family: Arial;
    font-weight: bolder; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    word-break:break-all;
}
#cuerpo ul.contacto li i.ubi{
    top:0px;
    content:url("../img/contacto/ubicacion.png");
    width: 40%;
    height: auto;
}
#cuerpo ul.contacto li i.cont{
    content:url("../img/contacto/contacto.png");
    width: 40%;
    height: auto;
}
#cuerpo ul.contacto li i.mails{
    content:url("../img/contacto/mails.png");
    width: 40%;
    height: auto;
}
#cuerpo ul.contacto li i.redes{
    content:url("../img/contacto/redes.png");
    width: 40%;
    height: auto;
}

#cuerpo ul.contacto li i.fb{
	content:url("../img/contacto/fb.png");
	width: 40px;
    height: 40px;
}
#cuerpo ul.contacto li i.ig{
	content:url("../img/contacto/ig.png");
	width: 40px;
	height: 40px;
}
#cuerpo ul.contacto li i.yt{
	content:url("../img/contacto/yt.png");
	width: 40px;
	height: 40px;
}

#cuerpo .dupie{
    padding: 0;
    margin:0;
    content: url("../img/dupie.png");
    width: 100%;
    height: auto;
}
#cuerpo .lafusion{
    content:url("../img/lafusion.JPG");
    width: 100%;
}
#cuerpo .historia{
    content:url("../img/historia.jpg");
    width: 100%;
    height: 400px;
    max-height: 30%;
    object-fit: cover;
}
#cuerpo .historiap{
    height: auto;
    text-indent: 20px; 
    font-size: 14px;
    line-height: 20px;
    font: 16px sans-serif;
    font-style:normal;
}
#cuerpo .proceso{
    content: url("../img/st7.png");
    height:auto;
    max-width: 500px;
    width: 100%;
}
#cuerpo h1.titulo{
    font: bold sans-serif;
    text-align: center;
    font-size:6vh;
}

#cuerpo .historiap .lista{
    /* font-family:sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: unset;    
}
#cuerpo .historiap .lista li{
    padding-bottom: 10px;
}

.tablaresponsive{
    text-align:center;
    margin:0 auto;
    border-collapse: separate;
    border-spacing: 15px 5px;
}

/*  -----------INDICE CUERPO-----------  */
#cuerpo .minindice{
    /* font-family: sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: disc;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    padding-left:0px;
}
#cuerpo a{
    text-decoration:none;
}
#cuerpo .minindice li{
    /* font-family: sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: disc;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    margin-left: 20px;
}
#cuerpo .minindice li:hover{
    color:black;
    background-color:rgb(255, 255, 255,0.2);
}
#cuerpo #indice{
    background-color:rgb(255, 255, 255,0.3);
}


/* -------------------VIDEO POPUP----------------------*/
#fadevid {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 3000;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
#VisaChipCardVideo{
    width:100%;
    height: auto;
    max-height:50vh;
}

#light {
    top: 50%;
    transform: translateY(-50%);
    display: none;
    position: fixed;
    left: 0%!important;
    z-index: 3001;
    overflow: visible;
}

#boxclose {
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fadevid:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}
#cuerpo table.tablainfo{
    width:50%;
}
#cuerpo .historiap table.tablainfo, table.tablainfo td,table.tablainfo th {
    border: 1px solid ;
    text-indent: 0;
}
#cuerpo .historiap table.tablainfo{
    margin:0 auto;
    border-collapse: collapse;
    width: 90%;
}


.objizq{
    width: 47%;
    display:inline-block;
}
.objder{
    width: 60%;
    display:inline-block;
    vertical-align:top;
}
.objder img.director{
    width:65%;
}
.descargapdf{
    content:url(../img/descargapdf.png);
    max-width:80px;
}

@media all and (max-width:992px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .tablaresponsive{
        border-spacing: 10px 5px;
    }

    #cuerpo, #cuerponoticia, #cuerpofull{
        max-width: 992px; 
        width: 100%;
        padding-left:5px;
        padding-right: 5px;
    }

    #light {
        display: none;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3001;
        overflow: visible;
    }
    #VisaChipCardVideo{
        width: 100%;
        top:0%;
    }
    #boxclose {
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    right: 2px;
    top: 2px;
    z-index: 3002;
    opacity: 0.9;
    }
    .objizq{
        width: 100%;
        display: unset;
    }
    .objder{
        display:unset;
        width: 100%;
    }
    .objder img.director{
        width:100%;
    }
    #cuerpo .historiap{
        text-indent: 20px;
    }
    #cuerpo .historiap .lista{
        text-align: left;  
    }
    #cuerpo table.tablainfo{
        word-break: break-all;
        font-size:13px; 
    }
    #cuerpo ul.contacto {
        padding:0;
        display: inline-block;
        margin:0;
        border-bottom: #444444 2px solid;
        margin-top:10px;
        vertical-align: top;
        width: 80%;
    
    }
    
}

#regiration_form fieldset:not(:first-of-type) {
    display: none;
}

@media (min-width:768px){
    /* alineación recaptcha */
    .g-recaptcha {
        display: inline-block;
    }
}

@media (max-width:990px){
    .portadavidlat{
        height:370px;
    }
}

@media (max-width:556px){
    .portadavidlat{
        height:200px;
    }
}

/* datatable stylos */
table.dataTable thead .sorting{
    background-image:url("../img/sort_both2.png")!important;
}


/* VISTA DOBLE CON BARRA QUE SE DESLIZA A LA DERECHA */
/**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* MAGIA */
.contenidoizquierda,
.contenidoderecha {
float: left;
}
/* The sticky */
.contenidoderecha {
position: -webkit-sticky;
position: sticky;
}



/* Estilos mios */
.hover-primary:hover{
    color: #ffe900 !important;
}

.shadow-left{
    box-shadow: -10px 0px 10px -10px #333;
}

.shadow-right{
    box-shadow: 5px 0 5px -5px #333;
}

.shadow-top{
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow-bottom{
    box-shadow: 0 5px 5px -5px #333;
}

.carousel-caption {
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #fff;
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}