#bglogin{
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    /* background-position: center; */
    background-repeat: repeat;
    background-attachment: fixed;
    max-width: 100%!important;
}
#login{
    /* ALINEACION VERTICAL */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
#login .formulariologin{
    font-family: sans-serif;
}
#login .formulariologin .inputlogin{
    border:none;
    background-color: rgb(245, 245, 245,0.9);
    border-radius: 4px;    
    min-width: 370px;
    min-height: 60px;
    font-size: 20px;
}
#login .formulariologin .boton{
    min-width: 370px;
    min-height: 40px;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgb(163, 163, 163,0.9);
    border: none; 
    color:white;
    margin-top: 4px;
    font-size: 20px;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px){
    
    #login .formulariologin .inputlogin{
        border:none;
        background-color: rgb(245, 245, 245,0.9);
        border-radius: 4px;    
        width: 100%;
        height: 17%;
        font-size:100px;
    }
    #login .formulariologin .boton{
        width: 100%;
        height: 10%;
        font-weight: bold;
        border-radius: 4px;
        background-color: rgb(163, 163, 163,0.9);
        border: none; 
        color:white;
        margin-top: 4px;
        font-size: 90px;
    }
}