.footer-distributed{
	background-color: #005225;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	/* margin-top: 10px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	/* background-color:  #33383b; */
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (min-width:992px) and (max-width:1001px){
	.footer-distributed{
		padding: 35px 30px;
	}
}
@media (max-width: 991px) {

	.footer-distributed{
		font: bold 14px sans-serif;
		padding:0;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
	}
	.footer-right{
		padding-top:0;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:55px;
		margin-bottom:0px;
	}
	.footer-left{
		padding-top:50px;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}


}
.footer-distributed .footer-left .logo{
	content:url("../img/pie/logo.png");
	width: 37px;
	height: 37px;
}

.footer-distributed .footer-left p.logo1{
	display: inline-block;
	border-left: solid white;
	padding-left: 5px;
	color: #ffffff;
	vertical-align: middle;
	margin-top:20px;
}

.footer-distributed .footer-left i{
	color: #ffffff;
	margin-top: 6px;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
}


/* LOGOS FOOTER ESESC Y EA */
.logofooter{
	height:35px;
	max-width: 100%;
}
@media (max-width : 373px){
	.logofooter{
		height:33px;
	}
}
@media (max-width : 351px){
	.logofooter{
		height:31px;
	}
}